APP_NAME=sistem-registrasi
APP_ENV=production
APP_KEY=base64:GUvpgYXaLvw20jwdto7Z4SywU3Tqb80UxzsuFsNUnIs=
APP_DEBUG=false
APP_TIMEZONE=UTC
APP_URL=role_laravel.railway.internal

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql.railway.internal
DB_PORT=3306
DB_DATABASE=db_regist_bukber
DB_USERNAME=root
DB_PASSWORD=ldeGlZkEoBmxWDRONPDnTXxxUptOeHGP

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

RAILWAY_PROJECT_ID=429d42c9-c872-460a-bf97-36d4546a76d8
RAILWAY_ENVIRONMENT_ID=40f01a53-da41-4b7f-93aa-62fbd4075c66
RAILWAY_SERVICE_ID=04637b86-eee4-4ac8-b526-ab05e2a7e557
